.investpage{
    padding: 10px;
    box-shadow: 30px 30px 20px rgb(198, 211, 211);
    background-color: rgb(142, 146, 146);
    background-color: rgb(179, 50, 50);
}
h1{
    text-align: center;
    color: white;
}
